@import url('https://fonts.googleapis.com/css2? family= Cantarell:ital,wght@0,400;0,700;1,400;1,700 & display=swap');

@font-face {
    font-family: 'Beyno';
    src: url(../BLACK-PANTHER/Fonts/BEYNO/BEYNO.ttf);
}


@font-face {
    font-family: 'Beyno';
    src: url(../BLACK-PANTHER/Fonts/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../BLACK-PANTHER/Fonts/PantheraRegular-MVZ9J.ttf);
}


@font-face {
    font-family: 'Cantarell';
    src: url(../BLACK-PANTHER/Fonts/Cantarell-Regular.ttf);
}


p{
    font-family: 'Cantarell';
    font-size: 10px;
    font-weight: 400;
    text-align: justify;

}
:root{
    --white-color: #ffff;
    --pink-color:#f2cef2;
    --purple-color: #9e31b7;
    --darkpink-color:#df99f2;
    --darkblue-color: #3d2da6;
    --royalblue-color:#07338c;
    --verydarkblue-color:#021740;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
   margin: 0 auto;
   
}

h1{
    font-family: 'Panthera';
    font-size: 62px;
    overflow: visible;
}

h2{
    font-family: 'beyno';
    color: #f2cef2;
    font-weight: 100;
    font-size: 20px;
}


body {
    width: 85%;
    background: rgb(2,23,64);
    background: linear-gradient(90deg, rgb(1, 10, 27,0.9) 0%,  rgba(0,0,0,0.9) 35%,  rgba(2,23,64,0.8) 100%);
    color: white;
    font-family: 'Space Grotesk';
    opacity: 0.8;
    font-weight: 100;
}

/*border of the nav part*/

.border{
    height: 460px;
    border: #f2cef2 2px solid ;
    opacity: 1;
    float: left;
    margin-left: 35px;

}
.border1{
   display: flex;
   flex-wrap: wrap;
    height: 300px;
    border-left: #f2cef2 4px solid ;
    opacity: 1;
    float: left;
    margin-left: 20px; 
    align-items: flex-end;
    flex-direction: column;
    
}

.social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: visible;
    align-items: flex-end;
    margin-left:-13px;
    margin-top:300px;
}

.social a{
    padding-top: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    }


   nav ul
    {
       list-style-type: none;
        margin-right: 50px;
       display: inline-block;
       text-align: right;
    }
  nav ul li
   {
       float: left;
       color: #fff;
   }
   nav ul li a{
    color: var(--white-color);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Beyno';
    text-decoration:underline;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

}

/*section chadwick*/

.description{
    width: 35%;
 
}

#chadwick .container{
    display: flex;
}

#chadwick img{
    width: 70%;
    margin-left: 10px;
    float: left;
}

/*section character*/


#character .container {
    width: 91%;
    background-color: #021740;
    height: 250px;
    margin-left: 120px;
    display: flex;

}

h3{
    font-family: 'Beyno';
    font-size: 16px;
    font-weight: 300;
    color: #f2cef2;
}

.okoye{
    text-align: justify;
    padding: 50px 30px;
    overflow: hidden;
}

.killmonger{
    text-align: justify;
    padding: 50px 30px;
    overflow: hidden;
}

.break{
    padding-top: 10px;
    text-decoration: underline;
    font-size: 11px;
}

.antagonist{
    overflow-y: visible;
    height: 320px;
    width: 100%;
    object-fit: contain;
    margin-top: -35px;
    margin-left: 32px;
}

/*second section*/

#main-character{
    display: flex;
   
}

.Texte{
    width: 55%;
    float: left;
    margin-top: 160px;
    margin-left: 90px;
}

.Bio{
    width: 32%;
    float: left;
    height: 600px;
    background-color: #fff;
    position: relative;
    margin-top: 250px;
    left: 150px;
    border-radius: 5px;
}

.Bio img{
    width: 80%;
   margin-left: 32px;
   position: absolute;
   top:-150px;
}

.biography{
    position: absolute;
    top: 200px;
    justify-content: center;

}


.biography h2{
    font-family: 'Cantarell';
    text-align: center;
    color: black;
    font-weight: 700;
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































