@import url('https://fonts.googleapis.com/css2? family= Cantarell:wght@300;400;500;600;700 & display=swap');

@font-face {
    font-family: 'Beyno';
    src: url(../BLACK-PANTHER/Fonts/BEYNO/BEYNO.ttf);
}


@font-face {
    font-family: 'Beyno';
    src: url(../BLACK-PANTHER/Fonts/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../BLACK-PANTHER/Fonts/PantheraRegular-MVZ9J.ttf);
}


@font-face {
    font-family: 'Cantarell';
    src: url(../BLACK-PANTHER/Fonts/BEYNO/Cantarell-Regular.ttf);
}

:root{
    --white-color: #ffff;
    --pink-color:#f2cef2;
    --purple-color: #9e31b7;
    --darkpink-color:#df99f2;
    --darkblue-color: #3d2da6;
    --royalblue-color:#07338c;
    --verydarkblue-color:#021740;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
   margin: 0 auto;
}


body {

    background: rgb(2,23,64);
    background: linear-gradient(90deg, rgb(1, 10, 27,0.9) 0%,  rgba(0,0,0,0.9) 35%,  rgba(2,23,64,0.8) 100%);
    color: white;
    font-family: 'Space Grotesk';
    opacity: 0.8;
    font-weight: 100;
}

/*border of the nav part*/

.border{
    height: 460px;
    border: #f2cef2 2px solid ;
    opacity: 1;
    float: left;
    margin-left: 35px;

}
.border1{
   display: flex;
   flex-wrap: wrap;
    height: 300px;
    border-left: #f2cef2 4px solid ;
    opacity: 1;
    float: left;
    margin-left: 20px; 
    align-items: flex-end;
    flex-direction: column;
    
}

.social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: visible;
    align-items: flex-end;
    margin-left:-13px;
    margin-top:300px;
}

.social a{
    padding-top: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    }


   nav ul
    {
       list-style-type: none;
       margin-left:300px;
       display: inline-block;
       text-align: right;
    }
  nav ul li
   {
       float: left;
       color: #fff;
   }
   nav ul li a{
    color: var(--white-color);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Beyno';
    text-decoration:underline;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

}

/*section chadwick*/

.description{
    width: 30%;
 float: left;
}

.king{
    width: 70%;
    align-items: center;
    float: left;
}

/*section character*/

#character .container{
    width: 91%;
    background-color: #021740;
    height: 250px;
   
    margin-left: 120px
}

#character .container{
    display: flex;
}

.protagonist img{
    width: 100%;
}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































