@import url('https://fonts.googleapis.com/css2? family= Cantarell & display=swap');

:root{
    --white-color: #ffff;
    --pink-color:#f2cef2;
    --purple-color: #9e31b7;
    --darkpink-color:#df99f2;
    --darkblue-color: #3d2da6;
    --royalblue-color:#07338c;
    --verydarkblue-color:#021740;

}

